**/.DS_Store
data/**/*.mat
**/*.png
**/*.pyc
**/*.jpeg
**/SUNRGBDv2Test
**/cropped-single-object-images
**/raw-images
**/single-object-images
**/rgbd-dataset
data/princeton_sunrgbd/SUNRGBD
data/cifar-10-batches-py/*
data/Princeton-SUNRGB-D/SUNRGBD
data/UWASH-RGBD/rgbd-dataset
**/data.json
**/.idea
**/*.pkl
